:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-grey-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --contacts-ft-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* ОБЩЕЕ */

/* Скрыл подчеркивание у ссылок */
.link {
  text-decoration: none;
}

/* Скрыл ненужные заголовки */
.hidden {
  visibility: hidden;
}

/* Убрал точки у списков */
.list {
  list-style: none;
}

/* Логотип */
.logo {
  color: var(--accent-color);
}

.header-logo {
  color: #000000;
}

.footer-logo {
  color: var(--primary-white-color);
}

/* Навигация по сайту */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-header .link {
  color: var(--primary-text-color);
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--footer-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
}

/* Кнопка героя */
.hero .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
  visibility: hidden;
}

/* Секции */
.section-title {
  color: var(--title-text-color);
}

/* Особенности*/
.features .title {
  color: var(--title-text-color);
}

/* Команда*/
.team .title {
  color: var(--title-text-color);
}

.team {
  background-color: var(--second-grey-color);
}

/* Подвал */
.footer {
  background-color: var(--footer-bg-color);
}

.contacts-footer .link {
  color: var(--contacts-ft-color);
}

.contacts-footer .address {
  color: var(--primary-white-color);
}

.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

/* Стили для портфолио */

.portfolio .button {
  color: var(--title-text-color);
  background-color: var(--second-grey-color);
  cursor: pointer;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-projects .title {
  color: var(--title-text-color);
}
